# Application config ################################################################
PORT= your_port_here

# Database config #######################################################################
MYSQL_PORT= your port_here
MYSQL_DATABASE= your_database_here
MYSQL_USER= your user_here
MYSQL_PASSWORD= your_password_here

# JWT secret key #######################################################################
JWT_SECRET= your secret_here


#Session secret key ####################################################################
SESSION_SECRET= your secret_here

# Stripe secret key ####################################################################
STRIPE_SECRET_KEY= your secret_here
STRIPE_PUBLISHABLE_KEY= your secret_here
STRIPE_WEBHOOK_SECRET= your secret_here

# Client URL ################################################################################
CLIENT_URL= your url_here